.jumbotron
  %h1 Welcome to Anugoonj 2016 official site!
  %p Lorem ipsum dolores sit amet because a quick brown fox jumped over a lazy little dog and I have to write a really long paragraph here but I don't know what to write here so I am writing anything that is coming to my mind, here!
